@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/museosanscyrl-500.ttf");
}

html {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
      var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
  background-attachment: fixed;
}
.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-page {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.page-wrapper {
  flex-grow: 1;
}
