.progects_page {
  max-width: 1240px;
  padding: 120px 0 50px 0;
  margin: 0 auto;
  .title_of_page {
    display: block;
    font-size: var(--font-size-l);
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    &::before {
      content: " ";
      width: 68px;
      height: 5px;
      background-color: var(--secondary-color);
      display: block;
      position: relative;
      bottom: -40px;
      margin: 0 auto;
      border-radius: 5px;
    }
  }
  .container_progects_list {
    // width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .progect {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 40px;
      .image_of_project {
        position: relative;
        img:first-child {
          position: absolute;
          width: 392px;
          top: 30px;
          height: 240px;
          left: 52px;
        }
        img:last-child {
          width: 500px;
        }
      }
      .image_of_project_mobile {
        position: relative;
        img:first-child {
          position: absolute;
          z-index: 1;
          bottom: 57px;
          right: 85px;
          width: 94px;
          height: 165px;
        }
        img:last-child {
          position: relative;
          bottom: -100px;
          right: 92px;
          width: 80px;
          z-index: 0;
          height: 155px;
        }
      }
      .description_of_project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        a {
          cursor: pointer;
          color: var(--primary-color);
          h1 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .progects_page {
    .container_progects_list {
      width: 80vw;
      .progect {
        .image_of_project_mobile {
          img:first-child {
            bottom: 5px;
            right: 145px;
          }
          img:last-child {
            bottom: -152px;
            right: 152px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .progects_page {
    padding: 50px 0;
    .container_progects_list {
      .progect {
        justify-content: center;
        .image_of_project_mobile {
          img:first-child {
            bottom: 5px;
            right: 15px;
          }
          img:last-child {
            bottom: -152px;
            right: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .progects_page {
    .container_progects_list {
      .progect {
        .image_of_project {
          img:first-child {
            width: 315px;
            top: 24px;
            height: 193px;
            left: 41px;
          }
          img:last-child {
            width: 400px;
          }
        }
        .image_of_project_mobile {
          img:last-child {
            bottom: -89px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .progects_page {
    .container_progects_list {
      .progect {
        .image_of_project {
          img:first-child {
            width: 372px;
            top: 28px;
            height: 226px;
            left: 47px;
          }
          img:last-child {
            width: 470px;
          }
        }
        .image_of_project_mobile {
          img:last-child {
            bottom: -133px;
            right: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .progects_page {
    .container_progects_list {
      .progect {
        padding-left: 0;
        .description_of_project {
          width: 230px;
        }
        .image_of_project {
          img:first-child {
            width: 300px;
            top: 21px;
            height: 181px;
            left: 38px;
          }
          img:last-child {
            width: 377px;
          }
        }
        .image_of_project_mobile {
          img:first-child {
            bottom: -150px;
            right: 355px;
          }
          img:last-child {
            bottom: -231px;
            right: 362px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .progects_page {
    .container_progects_list {
      .progect {
        padding-left: 0;
        .description_of_project {
          width: 230px;
        }
        .image_of_project {
          img:first-child {
            width: 300px;
            top: 21px;
            height: 181px;
            left: 38px;
          }
          img:last-child {
            width: 377px;
          }
        }
        // .image_of_project_mobile {
        //   img:first-child {
        //     bottom: 130px;
        //     right: -270px;
        //   }
        // }
        // .image_of_project_mobile:not(:last-child) {
        //   img:last-child {
        //     bottom: 129px;
        //     right: -262px;
        //   }
        // }
      }
    }
  }
}

@media screen and (max-width: 581px) {
  .progects_page {
    .title_of_page {
      padding-left: 30px;
    }
    .container_progects_list {
      .progect {
        padding-left: 30px;
        .image_of_project_mobile {
          img:first-child {
            bottom: 4px;
            right: 11px;
          }
          img:last-child {
            bottom: 4px;
            right: 18px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .progects_page {
    .container_progects_list {
      .progect {
        .image_of_project_mobile {
          // img:first-child {
          //   bottom: 125px;
          //   left: 290px;
          // }
          // img:last-child {
          //   bottom: 124px;
          //   left: 297px;
          // }
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .progects_page {
    .title_of_page {
      padding-left: 45px;
    }
    .container_progects_list {
      .progect {
        padding-left: 45px;
        .image_of_project {
          img:first-child {
            width: 213px;
            top: 16px;
            height: 129px;
            left: 28px;
          }
          img:last-child {
            width: 270px;
          }
        }
        .image_of_project_mobile {
          position: absolute;
          img:first-child {
            bottom: -54px;
            right: -116px;
            left: unset;
            width: 76px;
            height: 130px;
          }
          img:last-child {
            bottom: -55px;
            left: 111px;
            width: 65px;
            height: 122px;
          }
        }
        .description_of_project {
          width: 270px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .progects_page {
    .title_of_page {
      padding-left: 65px;
    }
    .container_progects_list {
      .progect {
        padding-left: 25px;
        .image_of_project_mobile {
          position: absolute;
          img:first-child {
            bottom: -60px;
            right: -96px;
            left: unset;
            width: 74px;
            height: 130px;
          }
          img:last-child {
            bottom: -63px;
            left: 90px;
            width: 62px;
            height: 122px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .progects_page {
    .title_of_page {
      padding-left: 45px;
    }
    .container_progects_list {
      .progect {
        .image_of_project_mobile {
        }
      }
    }
  }
}

@media screen and (max-width: 345px) {
  .progects_page {
    .container_progects_list {
      width: 90vw;
      .progect {
        .description_of_project {
          width: 220px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .progects_page {
    .container_progects_list {
      .progect {
        .image_of_project {
          img:first-child {
            width: 197px;
            top: 14px;
            height: 120px;
            left: 26px;
          }
          img:last-child {
            width: 250px;
          }
        }
        .description_of_project {
          width: 220px;
        }
      }
    }
  }
}
